<header class="masthead">

  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">axel<span>hodler</span></a>
  </h1>

  <div class="social-connections">
    <a class="social-link"
       href="mailto:axel@hodler.co">
      <i class="icon-email"></i>
    </a>
    <a class="social-link"
       href="https://twitter.com/axelhodler">
      <i class="icon-twitter"></i>
    </a>
    <a class="social-link"
       href="https://github.com/axelhodler">
      <i class="icon-github-circled"></i>
    </a>
    <a class="social-link"
       href="https://www.xing.com/profile/Axel_Hodler">
      <i class="icon-xing"></i>
    </a>
    <a class="social-link"
       href="https://www.linkedin.com/in/axelhodler/">
      <i class="icon-linkedin"></i>
    </a>
    <a class="social-link"
       href="https://www.goodreads.com/user/show/17724008-axel">
      <img style="margin: 0 0 0 2px; width: 22px;" src="{{ site.baseurl }}/icons/goodreads.svg"></img>
    </a>
    <a class="social-link"
       href="https://medium.com/@axelhodler">
      <img style="margin: 0 0 0 2px;" src="{{ site.baseurl }}/icons/medium.svg"></img>
    </a>
    <a class="social-link"
       href="https://www.instagram.com/axelhodler/">
      <img style="margin: 0 0 0 2px; width: 22px;" src="{{ site.baseurl }}/icons/insta.png"></img>
    </a>
  </div>

  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
